* {
  margin: 0;
  padding: 0;
  box-sizing: content-box; //レイアイとしやすくするためのおまじない（詳細割愛）
}

html {
  font-size: 62.5%; // 16px => 10px
}

body {
  width: 80vw; // bodyの表示領域幅を80%に指定
  margin: 0 auto; // 上下にはmarginなし、左右には均等margin
}

.header {
  display: flex;
  flex-direction: row; // 行（左右）方向に配置
  align-items: flex-end; // 下揃え

  // .header--logo
  &--logo {
    font-size: 8rem; // = 80px
    margin-right: auto; // 右にあまりのスペースを配置
  }

  // .header--item
  &--item {
    font-size: 2.4rem; // = 24px
    margin: 0 2rem; // 上下にはmarginなし、左右には2rem(=20px)のmargin
  }
}